<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="semantic/dist/semantic.min.js"></script>

  

  <link rel="stylesheet" href="css/styles.css">
  <title>BWYE</title>
</head>
<body>

  
  <div class="pusher">
    <div id="container">
        <!-- React app to go here -->
    </div>
  </div>

  <script src="js/bundle.js"></script>
</body>
</html>