html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.ui.selection.multiple.dropdown {
  width: 100%;
}

.ui.input {
  width: 225px;
  margin-left: 50px;
}

.card.result:hover {
  opacity: 0.8;
}

 #appContainer {
  border: 4px solid orange;
  margin-top: 600px;
 }

 #navbar {
  position: fixed;
  top: 0;
  left: 0;
  /*border-bottom: 2px solid orange;*/
  width: 100%;
  height: 43px;
  z-index: 1;
 }

 .nav-item {
  border: 1px solid blue;
  display: inline-block;
 }

.fluid.ui.button.header {
  margin: 0px;
  border-radius: 0;
  height: 36px;
}

.header.item::before {
  display: none;
}

.added.list {
  position: relative;
  left: 85px;
  margin: 20px 0 20px;
}

.ui.menu.three.item .item {
  width: 15%;
  margin-left: 0 !important;
}

.myRecipe {
  position: relative;
  top: -485px;
  border: 2px solid blue;
}

.popup {
  width: 600px;
  height: 300px;
  position: fixed;
  top: 188px;
  left: 1440px;
  background-color: white;
  border: 2px solid black;
}